<div class="container">
  <div class="card">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <input type="text" class="form-control" formControlName="id" placeholder="Id" />
      <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" />
      <input type="text" class="form-control" formControlName="familia" placeholder="Familia" />
      <input type="text" class="form-control" formControlName="precio" placeholder="Precio" />
      <input type="text" class="form-control" formControlName="stock" placeholder="Stock" />
      <button class="btn btn-dark" type="submit">Enviar</button>
    </form>
  </div>
</div>
